body{
    background-color:snow;
}
.wrap {
	perspective: 1500px;
	perspective-origin: 50% 50px;

}
.cube {
	position: relative;
	width: 100px;
	transform-style: preserve-3d;
}
.cube div {
	position: absolute;
	width: 100px;
	height: 100px;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}

.front {
	transform: translateZ(1px);
}
@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 20s infinite linear;
}
.side{
    background-color: darkorange;
}